/ インデックスのviewファイル

/ ログインしていないとroot(index)に飛べないようにcontrollers/application_controllerに
/ before_action :authenticate_user!
/ を記載

.container
  = render "shared/sidebar"
  .chat
    .chat__header
      .chat__header__group
        = @currentgroup.name
      .chat__header__member
        - @currentgroup.users.each do |user|
          = user.name
      .chat__header__edit-btn
        = link_to edit_group_path(@currentgroup) do
          Edit
    .chat__main
      .chat__box
      .chat__main__first-content
        .chat__main__first-content__list
          %p.chat__main__first-content__list__group Main GroupName1
          %p.chat__main__first-content__list__time Time
        %p.chat__main__first-content__message Main Message1
      .chat__main__first-content
        .chat__main__first-content__list
          %p.chat__main__first-content__list__group Main GroupName2
          %p.chat__main__first-content__list__time Time
        %p.chat__main__first-content__message Main Message2
    .chat__comment
      = form_for [@currentgroup, @message] do |f|
        = f.text_field :body
        .chat__comment__icon-box
          = f.file_field :image
          -# .send
        = f.submit
