/ インデックスのviewファイル
.container
  = render "shared/sidebar"
  .chat
    .chat__header
      .chat__header__group
        = @currentgroup.name
      .chat__header__member
        - @currentgroup.users.each do |user|
          = user.name
      .chat__header__edit-btn
        = link_to edit_group_path(@currentgroup) do
          Edit
    .chat__main
      .chat__box
        = render partial: 'messagelist', collection: @messages, as: :message
    .chat__comment
      = form_for [@currentgroup, @message] do |f|
        = f.text_field :body, placeholder: "メッセージを入力してください", id: "message_field"
        .chat__comment__mask
          %label.chat__comment__mask__icon-box
            %i.fa.fa-picture-o.fa-lg
            = f.file_field :image, class: "hidden"
        =f.submit :send, class:"send"

-# 一つの記事項目をテンプレート化して、それを繰り返し表示することで一覧を表示するように部分テンプレートを繰り返し処理
-# :collection => (繰り返し表示させるためのインスタンス） %>
-# @messagesの要素の数だけ部分テンプレートが繰り返されます
-# ローカル変数を別の名前で使用したい場合はasオプション
